spring:
  application:
    name: order-service
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/booking_db}
    username: ${DB_USER:root}
    password: ${DB_PASSWORD:password}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS:localhost:9092}
    consumer:
      group-id: order-service
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: "*"
        spring.json.value.default.type: org.example.orderservice.kafka.BookingEvent
        spring.json.type.mapping: org.example.bookingservice.kafka.event.BookingEvent:org.example.orderservice.kafka.BookingEvent
  flyway:
    enabled: true
    baseline-on-migrate: true

server:
  port: 8082

grpc:
  client:
    inventory-service:
      address: static://inventory-service:9090
      negotiation-type: plaintext

trip:
  service:
    url: ${TRIP_SERVICE_URL:http://trip-service:8086}
